<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LabMC</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  <main>
    <header class="landing-header">
      <img src="/images/logo.png" alt="Logo Labmc" class="logo">
      <section class="links">
        <a href="" class="link">Home</a>
        <a href="{{route('/public/members', {}, {
          qs: {type: 'researcher'}
        })}}">Pesquisadores</a>

        <div class="dropdown">
          <button type="button" class="link" href="">
            LabMC
            <i data-feather="chevron-down"></i>
          </button>

          <div class="menu">
            <a href="">documentos</a>
            <a href="">equipe</a>
          </div>

        </div>

        <div class="dropdown">
          <button type="button" class="link" href="">
            Orientações
            <i data-feather="chevron-down"></i>
          </button>

          <div class="menu">
            <a href="">documentos</a>
            <a href="">equipe</a>
          </div>

        </div>
      </section>
    </header>

    <section class="main-content">
      @!section('container')
    </section>

    <footer>

    </footer>
  </main>

  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>
</body>

</html>