<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LabMC</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  <main>
    @include('landingpage/partials/header')

    @!section('container')

    <footer>

    </footer>
  </main>

  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>
</body>

</html>