@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --font-size: 14px;
  --primary-color: #2d6a4f;
  --light-gray: rgba(0, 0, 0, 0.06);
  --box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
  --sidebar-width: 200px;
}

html,
body {
  background-color: #f9f9f9;
  height: 100vh;
  color: #46444c;
}

main.container {
  flex: 1;
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ICONS */
.feather-16 {
  width: 16px;
}

/* LOGIN */
main.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 70%;
  margin: 0 2rem;
}

.card-logo {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(rgba(45, 106, 79, 0.6), rgba(45, 106, 79, 0.6)),
    url(../../public/images/background.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-form {
  width: 100%;
  padding: 2rem;
}

.card-form h2 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

/* INPUT */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.field label {
  font-size: var(--font-size);
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.field .input-container {
  border: none;
  background-color: var(--light-gray);
  padding: 0.7rem;
  border-radius: 0.4rem;
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.field .input-container::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.field .input-container:focus {
  outline: none;
  box-shadow: 0px 0px 10px -2px var(--primary-color);
  border: 1px solid rgba(45, 106, 79, 0.3);
}

/* BUTTON */
.btn {
  border: none;
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.4rem;

  background-color: var(--primary-color);
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 0.5rem;
}

.btn:hover {
  opacity: 0.9;
}

/* SIDEBAR */
section.sidebar {
  background-color: #fff;
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  left: -200px;
  z-index: 3;
  transition: all 0.3s;
}
.sidebar-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}

section.content {
  padding: 1.25rem;
}

/* CARD */
.card {
  background-color: white;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin: 2rem;
}

/* LANDINGPAGE */
header.landing-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #071e02;
  position: sticky;
  top: 0;
}

img.logo {
  width: 70px;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(../../public/images/waves-bg.png),
    linear-gradient(180deg, #071e02 0.52%, #045603 100%);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  justify-content: flex-end;
  padding: 2rem;
}

.banner h1 {
  font-size: 2rem;
}

.photo {
  width: 100%;
}

.landing-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.landing-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.landing-section-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #045603;
  color: #f9f9f9;
  gap: 1rem;
}

.landing-text {
  text-align: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

a.link {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.area-cards {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.area-card {
  background: #f9f9f9;
  color: #071e02;
  padding: 1rem;
  font-size: 14px;
}

.map {
  width: 100%;
  height: 300px;
  border: none;
}

/* DROPDOWN MENU */
.menu {
  color: #fff;
  position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.menu li {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  list-style: none;
}

.menu li:hover > a {
  color: #1ea71c;
  transition: all 0.3s;
}

.menu ul li.main-menu {
  display: inline-table;
}

.menu .main-menu ul {
  display: none;
  position: absolute;
  background-color: #045603;
  padding: 1.5rem;
}

.menu .main-menu a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu li:hover > ul {
  display: table;
}

.menu ul.sub-menu {
  right: 0;
  top: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.menu ul.sub-menu .sub-menu {
  top: -0.5em;
  right: 100%;
}

.menu ul.sub-menu a {
  margin-bottom: 0.5rem;
}

/* FOOTER - LANDING */
footer {
  background-color: #071e02;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #1ea71c;
  font-weight: 600;
  letter-spacing: 2px;
}

.social-container + .social-container {
  margin-top: 1rem;
}

.footer-mention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 14px;
}

/* LIST MEMBERS */
.content {
  padding: 2rem;
}

.section-title {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card-member {
  background: #fff;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon-img {
  width: 24px;
}

.avatar {
  border-radius: 50%;
  padding: 1rem 1.3rem;
  background-image: linear-gradient(180deg, #071e02 0.52%, #045603 100%);
}

.feather-28 {
  width: 48px;
  height: 48px;
}

.feather-white {
  color: #fff;
}

.feather-green {
  color: #045603;
}

.text-gray {
  color: #46444c94;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #045603;
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

/* ORIENTATIONS */
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-container {
  display: flex;
  gap: 1rem;
}

.icon-container-info {
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.status-container {
  width: fit-content;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-self: flex-end;
  margin-top: 0.5rem;
}

.status-container.completed {
  background-color: #c5edac;
  color: #045603;
}

.status-container.not-completed {
  background-color: #ffbe697e;
  color: #ff9914;
}

@media (min-width: 900px) {
  .card-container {
    flex-direction: row;
    max-width: 600px;
    height: 40%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  section.sidebar {
    left: 0;
  }

  #close-sidebar,
  #show-sidebar {
    display: none;
  }

  header.main-header,
  .main-content {
    margin-left: 200px;
  }

  .banner {
    height: 570px;
  }

  .area-cards {
    flex-direction: row;
  }

  .area-card {
    max-width: 300px;
  }

  .landing-text {
    text-align: left;
    font-size: 20px;
    padding: 3rem 4rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-content {
    flex-direction: row;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
