@layout('layouts/main')

@section('main')

@set('title', 'Orientações')

<div class="card">
  <h1>Adicionar trabalho</h1>

  <form action="{{ route('OrientationsController.store') }}" method="post">
    @include('orientation/fields')
    <button class="btn">Salvar</button>
  </form>
</div>
@end